@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4 text-white">GymWeb</h1>
    <p class="text-white">Step into a world where fitness meets passion, and determination transforms into achievement. We're thrilled to have you join our dynamic community at GymWeb, your ultimate destination for health, strength, and well-being.</p>
    <div id="carouselExampleCaptions" class="carousel slide" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/diti.jpg" class="d-block w-100"  alt="..." height="650px">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/fitness1.jpg" class="d-block w-100" alt="..." height="650px">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/fitness2.jpg" class="d-block w-100" alt="..." height="650px">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br />
    <br />
    <h2 class="display-5 text-white">What Do We Offer?</h2>
    <p class="text-white">🌟 Discover the Fitness Experience at GymWeb! 🌟</p>
    <p class="text-white">At GymWeb, we're committed to providing you with a comprehensive fitness experience that goes beyond the ordinary. Your journey to a healthier, stronger, and more vibrant you starts here, and we're excited to introduce you to the incredible offerings that set us apart:</p>
    <p class="text-white">
        State-of-the-Art Equipment: Elevate your workout with our top-of-the-line fitness equipment, carefully selected to cater to all fitness levels and goals. From cardio machines to strength training equipment, we have everything you need to sculpt your ideal physique.

        Expert Trainers: Our certified and experienced trainers are here to guide and motivate you. Whether you're a beginner looking for proper form or an advanced fitness enthusiast seeking new challenges, our trainers are dedicated to helping you reach your full potential.

        Diverse Group Classes: Immerse yourself in a world of fitness variety with our diverse range of group classes. From high-intensity interval training (HIIT) to yoga and everything in between, there's a class to suit every preference and fitness level.

        Personalized Training Programs: Your fitness journey is unique, and so should be your training program. Our trainers will work with you to create a personalized plan tailored to your specific goals, ensuring you get the results you desire.

        Nutritional Guidance: Achieving your fitness goals goes hand in hand with proper nutrition. Access expert advice and nutritional guidance to complement your workouts and optimize your overall well-being.

        Community Atmosphere: Join a community of fitness enthusiasts who share your passion and commitment. Forge connections, find workout buddies, and experience the power of collective motivation that propels everyone towards success.

        Flexible Hours: Life can be busy, but we've got you covered. Our flexible operating hours make it convenient for you to fit in your workouts, ensuring that your fitness journey adapts seamlessly to your lifestyle.

        Welcome to GymWeb, where every aspect of your fitness journey is carefully crafted to empower you to become the best version of yourself. Get ready to transform, thrive, and achieve the fitness results you've always dreamed of! 💪🏋️‍♀️
    </p>
    <br />
    <a class="btn btn-primary" href="/Identity/Account/Login" role="button">Join Now</a>
</div>
