@{
    ViewData["Title"] = "About The Page";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">Welcome to GymWeb, where fitness meets grace, and well-being becomes a lifestyle. At GymWeb, we embody the essence of simplicity and elegance in the pursuit of a healthier, more fulfilling life.</p>
