@using FitnessMVC.Data.Enum
@using FitnessMVC.ViewModels
@model GymItemViewModel


<head>
    <link href="~/css/Create.css" rel="stylesheet" media="all" />
</head>

<div class="registration-form">
    <form method="post" asp-action="Create">
        <h1>Create a GymItem</h1>
        <div class="form-group">
            <input asp-for="Name" class="form-control item" placeholder="GymItem Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control item" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Price" class="form-control item" placeholder="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="photo" class="control-label text-white"></label>
            <input asp-for="photo" class="form-control" />
            <span asp-validation-for="photo" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Create GymItem</button>
        </div>
    </form>


