@model Exercise
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="~/css/Details.css" rel="stylesheet" media="all" />
</head>

<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="https://hips.hearstapps.com/hmg-prod/images/u05-bottomhalfwaytop-ism-mh310118-1558552383.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                           @Model.exName
                        </a>
                    </h4>
                    <p>
                       @Model.exDescription
                    </p>
                    <div class="product_meta">
                        <span ><strong>Body Part:</strong>@Model.BodyParts </span>
                        <span ><strong>Difficulty:</strong>@Model.Difficulty </span>
                    </div>

                    <!-- buy button -->
                    
                    <!-- <div class="form-group">
                        <label>Quantity</label>
                        <input type="quantiy" placeholder="1" class="form-control quantity">
                    </div>
                    <p>
                        <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </p>
                    -->
                </div>
            </div>
        </section>
    </div>
</div>