@model Membership
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="~/css/Details.css" rel="stylesheet" media="all" />
</head>

<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="~/images/gym.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="text-white">
                            @Model.memName
                        </a>
                    </h4>
                    <p class="text-white">
                        @Model.memLength
                    </p>
                    <div class="product_meta">
                        

                    </div>


                </div>
            </div>
        </section>
    </div>
</div>
